.devolucao {
  margin-left: 5px;
}
.Titulo {
  margin-top: 50px;
  font-weight: 600;
  margin-left: 2px;
  margin-right: 2px;
  width: 800px;
  height: 18px;
  text-align: center;
}
.main {
  margin-top: 10px;
}
.signature > p {
  text-align: justify;
  text-align: center;
  text-decoration: overline;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 40px;
}
#contexto {
  margin-top: 5rem;
}
ol {
  margin-right: 2rem;
}
